<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<title>complex-include-usage</title>
<script src="../dist/latest/zollty-tmpl.js"></script>
</head>

<body>
<div id="content"></div>

<script id="test" type="text/html">
<h1>{{title}}</h1>

{{each list as value}}
	<p><select name="level">
	{{include 'optionsTpl' value}}
	</select></p>
{{/each}}
</script>

<script id="optionsTpl" type="text/html">
<option value="MY" {{if item=='sks' }} selected {{/if}} >sks</option>
<option value="WY" {{if item=='wws' }} selected {{/if}} >wws</option>
<option value="SY" {{if item=='bgbg' }} selected {{/if}} >bgbg</option>
</script>

<script>
var data = {
	title: '嵌入子模板',
	list: [{"item": "sks"}, {"item": "bgbg"}, {"item": "wws"}]
};
var html = zollty.render('test', data);
document.getElementById('content').innerHTML = html;
</script>
</body>
</html>
